@keyframes pulse {
    0%,
    30%,
    60%,
    90% {
       transform: scale(1);
    }

    15%,
    45%,
    75% {
        transform: scale(1.5);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.center {
    padding-left: calc(50% - 1250px / 2);
    padding-right: calc(50% - 1250px / 2);
}

.top {
    background: #f6f2f2;
    padding-top: 28px;
    padding-bottom: 110px;
}

.header {
    background: rgba(0, 0, 0, .8);
    border: 1px solid #000;
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

.menu__link {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.49px;
    text-transform: uppercase;
    color: #e0e0e0;
    display: flex;
    padding: 38px 23px 26px;
    transition: .3s;
}

.menu__link:hover {
    background: #ff3f40;
}

.menu__link_active {
    background: #ff3f40;
}

.top__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    gap: 30px;
}

.top__info {
    width: 617px;
}

.title {
    font-style: italic;
    font-weight: 800;
    font-size: 60px;
    line-height: 51px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000;
    }

.bid__letter_spacing {
    letter-spacing: 6px;
    vertical-align: text-bottom;
}

.top__text {
    width: 544px;
    margin-top: 37px;
    margin-bottom: 64px;
    height: 73px;
    display: flex;
    align-items: center;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    
}

.button {
    width: 226px;
    height: 55px;
    background: #FF2D2D;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.top__video {
    width: 554px;
    height: 359px;
    box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

.service {
    padding-top: 108px;
    
}

.servise__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    border-bottom: 5px solid #ececec;
    padding-bottom: 98px;
}

.service__content {
    width: 539px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    line-height: 55px;
    letter-spacing: 0.42px;
    text-transform: uppercase;
    color: #000000;
}

.servise__heading {
    display: flex;
    align-items: center;
    height: 87px;
}

.service__text {
    margin-top: 50px;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    height: 98px;
}

.service__button {
    width: 227px;
    height: 55px;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #FF0000;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.32px;
    color: #FF2D2D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.service__info {
    width: 610px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
}

.service__item {
    flex-grow: 1;
    flex-basis: 290px;
}

.service__img {
    transition: transform 1.5s;
}

.service__item:hover .img_rotate {
    transform: rotate(360deg);
}

.service__item:hover .img_translate {
    transform: translateX(150px);
}

.service__item:hover .img_pulse {
    animation: pulse 1.5s linear 0s;
}

.service__heading {
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.27px;
    color: #000000;
    margin-top: 32px;
    margin-bottom: 13px;
}