@keyframes pulse {
    0%,
    30%,
    60%,
    90% {
       transform: scale(1);
    }

    15%,
    45%,
    75% {
        transform: scale(1.5);
    }
}

@keyframes moving {
    35% {
        transform: translateX(150px);
    }

    50% {
        transform: translateX(150px) scaleX(-1);
    }

    85% {
        transform: translateX(0px) scaleX(-1);
    }
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    transition: .3s;
}

a:hover {
    text-decoration: underline;
}

.section {
    padding-left: calc(50% - 1250px / 2);
    padding-right: calc(50% - 1250px / 2);
}

.top {
    background: #f6f2f2;
    padding-bottom: 110px;
}

.background-top {
    background: #f6f2f2;
    padding-top: 28px;
}

.header {
    background: rgba(0, 0, 0, .8);
    border: 1px solid #000;
    margin-left: calc(50% - 1250px / 2);
    margin-right: calc(50% - 1250px / 2);
}

.menu {
    list-style-type: none;
    display: flex;
    justify-content: center;
    position: relative;
}

.menu__link {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.49px;
    text-transform: uppercase;
    color: #e0e0e0;
    display: flex;
    padding: 38px 23px 26px;
    transition: .3s;
    justify-content: center;
}

.menu__link:hover {
    background: #ff3f40;
}

.menu__link_active {
    background: #ff3f40;
}

.top__content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 100px;
    gap: 30px;
}

.top__info {
    max-width: 617px;
}

.title {
    font-style: italic;
    font-weight: 800;
    font-size: 60px;
    line-height: 51px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: #000000;
    }

.big__letter_spacing {
    letter-spacing: 6px;
    vertical-align: text-bottom;
}

.text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}

.top__text {
    max-width: 544px;
    margin-top: 37px;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    height: 73px;
}

.button {
    width: 226px;
    height: 55px;
    background: #FF2D2D;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.32px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.top__video {
    width: 554px;
    height: 359px;
    box-shadow: -2.2px -13.8px 73px rgba(0, 0, 0, 0.29);
}

.service {
    padding-top: 108px;
}

.service__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    border-bottom: 5px solid #ececec;
    padding-bottom: 98px;
}

.service__content {
    width: 539px;
}

.heading {
    font-style: normal;
    font-weight: 700;
    font-size: 42px;
    letter-spacing: 0.38px;
    text-transform: uppercase;
    color: #000000;
}

.service__heading {
    letter-spacing: 0.42px;
    display: flex;
    align-items: center;
    height: 87px;
}

.service__text {
    margin-top: 50px;
    margin-bottom: 64px;
    display: flex;
    align-items: center;
    height: 98px;
}

.service__button {
    width: 227px;
    height: 55px;
    background: rgba(0, 0, 0, 0.0001);
    border: 2px solid #FF0000;
    box-sizing: border-box;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.32px;
    color: #FF2D2D;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.service__info {
    max-width: 610px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 50px;
}

.service__item {
    flex-grow: 1;
    flex-basis: 290px;
}

.service__img {
    transition: transform 1.5s;
}

.service__item:hover .img_rotate {
    transform: rotate(360deg);
}

.service__item:hover .img_translate {
    transform: translateX(150px);
}

.service__item:hover .img_moving {
    animation: moving 2s linear;
}

.service__item:hover .img_pulse {
    animation: pulse 1.5s linear;
}

.service-item__heading {
    font-style: italic;
    font-weight: 600;
    font-size: 24px;
    letter-spacing: 0.27px;
    color: #000000;
    margin-top: 32px;
    margin-bottom: 13px;
    line-height: 24px;
}

.products {
    margin-top: 104px;
    margin-bottom: 16px;
}

.products__heading {
    display: flex;
    justify-content: center;
    line-height: 32px;
    text-align: center;
}

.products__text {
    max-width: 536px;
    margin: 28px auto 34px;
    text-align: center;
    display: flex;
    align-items: center;
    height: 45px;
    justify-content: center;
    position: relative;
}

.products__text::before {
    position: absolute;
    content: "";
    bottom: -37px;
    width: 134px;
    height: 3px;
    background-color: #FF2D2D;
    margin: auto;
}


.products__box {
    padding-top: 86px;
}

.products-links {
    display: flex;
    justify-content: center;
    column-gap: 64px;
    flex-wrap: wrap;
    cursor: pointer;
}

.products-links__filter {
    font-style: italic;
    font-weight: 600;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0.22px;
    text-transform: uppercase;
    color: #000000;
    transition: color .3s;
}

.products-links__filter:hover {
    color: #FF2D2D;
}

.products-links__filter_active {
    color: #FF2D2D;
}

.products-items {
    margin-top: 58px;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.products-items__item-1,
.products-items__item-2,
.products-items__item-3,
.products-items__item-4,
.products-items__item-5,
.products-items__item-6,
.products-items__item-7,
.products-items__item-8 {
    display: flex;
    width: 301px;
    height: 293px;
    border: 1px solid #00000011;
    box-sizing: border-box;
}

.products-items__invisible {
    display: none;
}

.meet {
    margin-top: 132px;
    margin-bottom: 114px;
}

.meet__heading {
    line-height: 32px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.meet__text {
    max-width: 459px;
    margin-top: 34px;
    margin-bottom: 103px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    height: 73px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    position: relative;
}

.meet__text::before {
    content: "";
    position: absolute;
    bottom: -40px;
    width: 128px;
    height: 3px;
    background-color: #FF2D2D;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.meet__content {
    margin-top: 66px;
    margin-left: 10px;
    display: flex;
    gap: 74px;
    align-items: flex-end;
}

.meet__person {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 309px;
    max-height: 458px;
}

.meet-info__invisible {
    display: none;
}

.meet-info__bio-person-2 {
    display: none;
}

.meet-info__bio-person-3 {
    display: none;
}

.meet-info__bio-person-4 {
    display: none;
}

.meet-info__visible {
    display: block;
}

.meet-info__heading {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    letter-spacing: 0.28px;
    text-transform: uppercase;
    color: #000000;
    line-height: 23px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.text_about-people {
    max-width: 635px;
    margin-top: 29px;
    margin-bottom: 46px;
    display: flex;
    align-items: center;
    height: 45px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.meet__links {
    display: flex;
    gap: 28px;
}

.meet__link {
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.9px;
    color: #000000;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.meet__link:hover {
    color: #FF2D2D;
}

.meet-peoples {
    display: flex;
    gap: 19px;
    margin-top: 59px;
}

.meet-peoples__persone {
    display: flex;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    overflow: hidden;
    max-width: 192px;
    max-height: 218px;
    align-items: center;
    cursor: pointer;
}

.meet-peoples__persone:hover .meet__name-box {
    bottom: 0px;
}

.meet__name-box {
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: normal;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
    bottom: -100%;
    transition: 0.4s;
}

.meet__persone-name {
    font-style: italic;
    font-weight: 600;
    font-size: 18px;
    letter-spacing: 0.16px;
    text-transform: uppercase;
    color: #FFFFFF;
    text-align: center;
}

.subscibe {
    padding-top: 150px;
    padding-bottom: 140px;
    background: #2C2C2C;
    text-align: center;
}

.heading_reverse {
    color: #FFFFFF;
    line-height: 42px;
    text-transform: none;
    letter-spacing: 1.05px;
}

.text_reverse {
    color: #FFFFFF;
    margin-top: 16px;
    margin-bottom: 56px;
}

.subscribe__form {
    display: flex;
    gap: 19px;
    justify-content: center;
}

.subscribe__input {
    width: 524px;
    height: 82px;
    padding-left: 38px;
    padding-right: 38px;
    box-sizing: border-box;
    border-radius: 5px;
    border: none;
    outline: none;
    background-color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.4px;
    color: #2C2C2C;
}

.subscribe__button {
    width: 217px;
    height: 82px;
    background: #FF2D2D;
    border-radius: 5px;
    border: 2px solid transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #FFFFFF;
    transition: all 0.3s;
}

.subscribe__button:hover {
    background-color: #fff;
    color: #FF2D2D;
    border: 2px solid #FF2D2D;
}

.get {
    margin-top: 104px;
    margin-bottom: 107px;
    padding-right: 0;
}

.get__heading {
    line-height: 32px;
}

.get__text {
    max-width: 752px;
    display: flex;
    align-items: center;
    height: 73px;
    margin-top: 45px;
    margin-bottom: 58px;
}

.get__content {
    display: flex;
    margin-top: 74px;
    gap: 104px;
}

.get__form {
    width: 734px;
    display: grid;
    row-gap: 43px;
    column-gap: 52px;
    grid-template-columns: repeat(2, 1fr);
}

.get__input {
    height: 69px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 5px;
    border: none;
    box-sizing: border-box;
    outline: none;
}

.get__input::placeholder {
    color: #000000;
}

.get__input_textarea {
    height: 252px;
    padding-top: 32px;
    padding-bottom: 32px;
    resize: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    grid-column: 1 / -1;
}

.get__button {
    height: 75px;
    background: #FF3B3B;
    border-radius: 5px;
    border: 2px solid transparent;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    text-align: center;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #FFFFFF;
    grid-column: 1 / -1;
    transition: all 0.3s;
}

.get__button:hover {
    background-color: #fff;
    color: #FF3B3B;
    border: 2px solid #FF3B3B;
}

.contacts {
    background: #2D2D2D;
    padding-left: 81px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
    padding-top: 43px;
    padding-bottom: 43px;
}

.contacts__heading {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 34px;
    letter-spacing: 0.32px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 30px;
}

.contacts__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #FFFFFF;
    max-width: 315px;
}

.footer {
    height: 113px;
    background: #313030;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__box {
    display: flex;
    gap: 18px;
}

.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #B8B8B8;
}

.footer__icon {
    background-color: #fff;
    width: 33px;
    height: 33px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    transition: all .3s;
}

.footer__icon:hover {
    background-color: #ff2D2D;
}

path {
    transition: fill .3s;
}

.footer__icon:hover path {
    fill: #FFFFFF;
}

.footer__icon-size {
    width: 80%;
    fill: #313030;
}

.footer__icon-size_min {
    width: 60%;
    fill: #313030;
}

.menu_visible {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 1px;
}

.burger-menu {
    display: none;
    width: 40px;
    height: 6px;
    background-color: white;
    margin: 6px 8px;
    position: relative;
}

.burger-menu::after {
    width: 40px;
    height: 6px;
    background-color: white;
    position: absolute;
    content: "";
    bottom: 12px;
}

.burger-menu::before {
    width: 40px;
    height: 6px;
    background-color: #FFFFFF;
    position: absolute;
    content: "";
    top: 12px;
}

.closure {
    display: none;
    color: #FFFFFF99;
    font-size: 50px;
    line-height: 50px;
    position: absolute;
    top: 0px;
    right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    transform: rotate(45deg);
}

.closure_visible {
    display: block;
}

.to-top {
    display: none;
    position: fixed;
    right: 0;
    bottom: 92px;
    font-size: 70px;
    color: rgba(255, 59, 59, 0.5);
    z-index: 10;
    cursor: pointer;
}

.to-top::before {
    position: absolute;
    content: "UP";
    color: #FFFFFF;
    font-size: 12px;
    right: 26px;
    bottom: 28px;
}

.to-top:hover {
    color: rgba(255, 59, 59, 1);
    padding-bottom: 2px;
}


.to-top_show {
    display: block;
}

@media (max-width: 1280px) {
    .menu {
        display: flex;
    }
    .section {
        padding-left: 16px;
        padding-right: 16px;
    }
    .header {
        margin-left: 0;
        margin-right: 0;
    }
    .background-top {
        padding-top: 0;
    }
    .top {
        padding-top: 16px;
        padding-bottom: 40px;
    }
    .service__info {
        max-width: 900px;
    }
    .products-items {
        justify-content: center;
    }
    .meet__content {
        gap: 32px;
    }
    .meet-peoples {
        gap: 10px;
    }
    .get {
        padding-right: 0;
    }
    .get__content {
        flex-wrap: wrap;
        gap: 43px;
    }
}

@media (max-width: 965px) {
    .products-links {
        max-width: 620px;
        column-gap: 20px;
        row-gap: 10px;
        margin: auto;
    }
}

@media (min-width: 700px) and (max-width: 850px) {
    .meet__person {
        width: 250px;
    }
}

@media (max-width: 780px) {
    .top__content{
        padding-top: 50px;
        justify-content: center;
    }
    .top__text {
        margin-top: 30px;
        margin-bottom: 30px;
    }
    .top__video {
        width: 100%;
    }
    .service__box {
        justify-content: center;
    }
    .contacts {
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;
    }
    .contacts__text {
        text-align: center;
    }
    .subscibe {
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .get {
        padding-right: 16px;
        margin-bottom: 43px;
    }
    .get__text {
        margin-bottom: 43px;
    }
    .get__content {
        margin-top: 43px;
    }
    .header_burger-style {
        min-height: 50px;
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .burger-menu {
        display: flex;
        justify-content: end;
        align-items: center;
    }
    .menu {
        display: none;
    }
    .menu_visible {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1px;
        padding-right: 30px;
    }
}

@media (min-width: 700px) and (max-width: 740px) {
    .meet__persone-name {
        font-size: 16px;
    }
}

@media (max-width: 700px) {
    .big__letter_spacing {
        letter-spacing: 1.5px;
    }
    .top__text {
        height: auto;
    }
    .service__heading {
        height: auto;
    }
    .service__text {
        height: auto;
    }
    .products__text {
        height: auto;
    }
    .meet__text {
        height: auto;
    }
    .meet__content {
        flex-wrap: wrap;
    }
    .text_about-people {
        height: auto;
    }
    .get__text {
        height: auto;
    }
    .get__form {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width: 648px) {
    .products-links {
        max-width: 301px;
    }
}

@media (max-width: 510px) {
    .menu__link {
        display: block;
        text-align: center;
        padding: 20px;
    }
    .title {
        font-size: 35px;
        line-height: 35px;
    }
    .service__heading {
        font-size: 35px;
        line-height: 35px;
    }
    .products__heading {
        font-size: 35px;
        line-height: 35px;
    }
    .meet__heading {
        font-size: 35px;
        line-height: 35px;
    }
    .meet__text {
        margin-left: 0;
    }
    .meet__line {
        margin-left: 0;
    }
    .text_about-people {
        margin-bottom: 20px;
    }
    .meet__content {
        justify-content: center;
        margin-left: 0;
    }
    .meet__links {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        gap: 10px;
    }
    .meet-peoples {
        margin-top: 20px;
    }
    .footer {
        height: 130px;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
        text-align: center;
    }
    .closure {
        line-height: 60px;
    }
    .to-top {
        bottom: 109px;
    }
}


@media (max-width: 440px) {
    .section {
        padding-left: 8px;
        padding-right: 8px;
    }
    .service {
        padding-top: 50px;
    }
    .service__box {
        padding-bottom: 40px;
    }
    .products {
        margin-top: 40px;
    }
    .products__box {
        padding-top: 40px;
    }
    .products-items {
        margin-top: 40px;
    }
    .meet {
        margin-top: 50px;
        margin-bottom: 50px;
    }
    .meet__text {
        margin-bottom: 77px;
    }
    .meet__persone-name {
        font-size: 12px;
    }
    .subscribe__form {
        flex-wrap: wrap;
    }
    .get {
        margin-top: 40px;
    }
    .get__heading {
        line-height: 40px;
    } 
}